.red{
    color: red;
    text-decoration: underline;
    
}
#Glossary{
    text-decoration: none;
    align-self: center;
    color: red;
}


h3{
    background-color:lightgray;
}
a{
    text-decoration: none;
}
.grey{
    background-color: dimgrey;
   
}
.text{
    

}